.todo-form {
    margin: 1rem;
}

.todo-form input[type="text"] {
    padding: 0.25rem;
    width: 20vw;
    border: none;
    font-size: 1rem;
   
    word-spacing: 3px;
    border-bottom: 1px solid lightslategray;
    margin-right: 1rem;
}

.todo-form input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid lightslategray;

}

.add-btn {
    padding: 0.25rem;
    border: none;
    background-color: darkmagenta;
    color: white;
    margin-right: 1rem;
    cursor: pointer;
}

.add-btn:hover {
    padding: 0.25rem;
    border: none;
    background-color: rgb(208, 18, 208);
    color: white;
    margin-right: 1rem;
    cursor: pointer;
}

.clear-btn {
    padding: 0.25rem;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}


@media( width <900px) {
    .todo-form input[type="text"] {
        width: 35vw;
       font-size: 14px;
    }

   
}

@media(600px < width <900px) {
    .todo-form input[type="text"] {
       font-size: 15px;
    }

    .add-btn {
        font-size: 15px;
    }

    .add-btn:hover {
        font-size: 15px;
    }
}

